<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tech Talk Blog</title>
    <base href="/" />
    <link rel="stylesheet" href="/landing.css" />
  </head>
  <body id="landing-body">
    <div id="landing-container">
      <h1 id="landing-header1">
        Tech Talk:
        <span
          class="txt-type"
          data-wait="2000"
          data-words='["The Latest", "and Greatest", "in Tech"]'
        ></span>
      </h1>
      <h2 id="landing-header2">Let's Talk Tech</h2>
      <a class="button" href="/blogs">Enter</a>
    </div>

    <script src="main.js"></script>
  </body>
</html>
