<form>
        <label for="email">Subscribe to our mailing list</label>
        <input type="email" value="" name="email" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe">
      </form>

<footer id="footer">
    <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a></p>
    <p>Why are you even reading this? There's nothing interesting in the footer!</p>
    <ul>
        <li><a href="http://github.com/1tvalbrun"><i class="github icon"></i></a></li>
    </ul>
</footer>

</body>
</html>
